storage:
  dbPath: /var/lib/mongodb
  journal:
    enabled: true

systemLog:
  destination: file
  logAppend: true
  path: /var/log/mongodb/mongodb.log

# network interfaces
net:
  port: {{ db_mongo_port | default('27017') }}
  bindIp: {{ db_mongo_bind_ip }}
