{
    "yc_catalog_id": "demo_catalog_id",
    "yc_subnet_id": "demo_subnet_id",
    "svc_account_key_file": "packer/demo_key.json",
    "src_image_family": "demo_os_family",
    "inst_cpu_num": "4",
    "inst_disk_size": "20",
    "inst_subnet_id": "e9p"
}
